body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/р.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}
.header-vertical {
    width: auto;
    background-color: rgba(133, 97, 157, 0.4);
    padding: 40px 20px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    margin-bottom: 34px;
}
.header-vertical:hover {
    left: 0;
}
.main-buttons-vertical{
    margin-bottom: 180px;
    margin-left: 10px;
}
.main-buttons-vertical a {
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    display: block;
    margin-bottom: 20px;
}
.home-link {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}

.footer {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    background-color: rgba(133, 97, 157, 0.22);
    color: rgba(8, 8, 7, 0.91);
    padding: 10px;
    text-align: center;
}

.header {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 20px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.header-buttons {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
}

.main-content {
    position: fixed;
    right: 4%;
}

.title {
    font-size: 54px;
    margin-bottom: 30px;
    color: rgb(52, 52, 47);
}

.login-button {
    background-color: rgb(157, 125, 179);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.login-button:hover {
    background-color: rgb(123, 99, 140);
}

.exit {
    background-color: rgb(157, 125, 179);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 300px;
}

.exit:hover {
    background-color: rgb(123, 99, 140);
}


.validationError {
    color: red;
    font-size: 12px;
}

.main-content-two {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-content-twofin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.title-two {
    font-size: 48px;
    margin-bottom: 30px;
    color: rgb(52, 52, 47);
}

.title-three {
    font-size: 44px;
    margin-bottom: 30px;
    color: rgb(52, 52, 47);
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(133, 97, 157, 0.4);
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.edit-button, .delete-button {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.add-button {
    background-color: rgb(123, 99, 140);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: rgb(157, 125, 179);
}

.form {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.form-fin {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 20px;
}

.form-groupfin {
    margin-bottom: 10px;
}

.label-form{
    margin-bottom: 10px;
}

.input-field {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-fieldfin {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    background-color: rgb(123, 99, 140);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(157, 125, 179);
}


.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-container {
    background-color: rgba(8, 8, 7, 0.16);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}



