<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<div class="form-container">
    <form th:action="@{/registration}" method="post" th:object="${user}">

        <div th:if="${param.success}">
            <div class="alert alert-info">Вы успешно зарегистрировались!</div>
        </div>
        <div th:if="${param.email_invalid}">
            <div class="alert alert-danger">Имя уже существует!</div>
        </div>
        <h1>Регистрация</h1>

        <div class="form-group">
            <label class="control-label" for="role">Роль</label>
            <select id="role" class="form-control" th:field="*{role}" required>
                <option value="ROLE_USER">Пользователь</option>
                <option value="ROLE_ADMIN">Администратор</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="userName">Имя</label>
            <input id="userName" class="form-control" th:field="*{userName}" required autofocus="autofocus" />
            <span class="validationError" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Имя</span>
        </div>

        <div class="form-group">
            <label class="control-label" for="fullName">Полное имя</label>
            <input id="fullName" class="form-control" th:field="*{fullName}" required autofocus="autofocus" />
            <span class="validationError" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Полное имя</span>
        </div>


        <div class="form-group">
            <label class="control-label" for="city">Город</label>
            <input id="city" class="form-control" th:field="*{city}" required autofocus="autofocus"/>
            <span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
        </div>


        <div class="form-group">
            <label class="control-label" for="phoneNumber">Номер телефона</label>
            <input id="phoneNumber" class="form-control" th:field="*{phoneNumber}" required autofocus="autofocus"/>
            <span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Пароль</label>
            <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus"/>
            <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            <span>   <a href="/" th:href="@{/login}">Войти</a></span>
        </div>

    </form>
</div>
<footer class="footer">
    <span>Проект выполнен в рамках курсового проекта. Выполнила Подзолко Евгения ПИ-332</span>
</footer>
</body>
</html>