<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Tiker</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/" class="home-link">
            <img src="/images/guarantee%20(1).png">
        </a>
    </div>

    <div class="main-content-two">
        <h2 class="title-two">Создать тикер</h2>
        <form th:action="@{/tiker/create}" th:object="${tiker}" method="post" class="form">
            <div class="form-group">
                <label for="nameTiker">Название тикера:</label>
                <input type="text" id="nameTiker" th:field="*{nameTiker}" class="input-field">
                <span class="error-message" th:if="${#fields.hasErrors('nameTiker')}" th:errors="*{nameTiker}">Ошибка в названии тикера</span><br>
            </div>
            <div class="form-group">
                <label for="dealPlace">Торговая площадка:</label>
                <input type="text" id="dealPlace" th:field="*{dealPlace}" class="input-field">
                <span class="error-message" th:if="${#fields.hasErrors('dealPlace')}" th:errors="*{dealPlace}">Ошибка в торговой площадке</span><br>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Сохранить</button>
            </div>
        </form>
    </div>
</div>
<footer class="footer">
    <span>Проект выполнен в рамках курсового проекта. Выполнила Подзолко Евгения ПИ-332</span>
</footer>
</body>
</html>


